<nav class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="livreForm" (ngSubmit)="saveLivre()">
            <div class="mb-3">
              <label class="form-label">Titre</label>
              <input class="form-control" formControlName="titre">
            </div>

            <div class="mb-3">
              <label class="form-label">Auteur</label>
              <input class="form-control" formControlName="auteur">
            </div>

            <div class="mb-3">
              <label class="form-label">Editeur</label>
              <input class="form-control" formControlName="editeur">
            </div>

            <div class="mb-3">
              <label class="form-label">Date edition</label>
              <input class="form-control" formControlName="date_edition">
            </div>

            <div class="mb-3">
              <label class="form-label">Prix</label>
              <input class="form-control" formControlName="prix">
            </div>

            <div class="mb-3">
              <label class="form-label">Isbn</label>
              <input class="form-control" formControlName="isbn">
            </div>

            <div class="mb-3">
              <label class="form-label">Exposant</label>
              <select class="form-control" formControlName="exposant">
                <option value="" disabled selected>Choisissez un exposant ...</option>
                <!-- Utilisez *ngFor pour afficher les options d'exposants disponibles -->
                <option *ngFor="let exposant of exposants" [ngValue]="exposant">{{ exposant.nom }}</option>
              </select>
            </div>

            <button [disabled]="livreForm.invalid" class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
